.wrapper {
  display: grid;
  grid-template-columns: 140px 1fr 140px 140px;
  align-items: center;
  padding: 30px 40px;
}

.logo {
  animation: App-logo-spin infinite 10s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
