.label {
  color: #7d7d7d;
  position: sticky;
  top: 3px;
  left: 0;
  transition: 0.2s ease-out all;
  font-size: 16px;
}
.input {
  color: #7d7d7d;
  font-size: 16px;
  border: none;
  line-height: 22px;
  width: 100px;
  background: none;
}
